/*2015-05-01*/
/*login.html*/

body { background-image: url(../images/bglogin.jpg); background-repeat: no-repeat;  color: #555; font-size: 14px; }
#login { position: relative; width: 560px; height: 360px; top: 108px; left: 406px;  }
#login h4.ltitle { width: 100%; height: 75px; line-height: 75px; text-align: center; font-size: 24px; color: #fff; font-family: 微软雅黑 !important; }

#login #logincont {position: absolute; top: 75px; left: 20px;  width: 520px; }
#login #logincont p { font-size: 13px; color: #555; text-align: left; text-indent: 2em; }
#login #logincont p u { color: red; cursor: pointer; }
#login #logincont form.loginform { position: absolute; top: 55px; left: 190px; width: 300px; height: 200px; overflow: hidden; }

#login #logincont .lgroup { letter-spacing: normal; height: 36px; line-height: 36px; width: 280px; border-radius: 2px; border: 1px solid #ddd; background: #fff; margin-bottom: 5px;  }
#login #logincont .lgroup label { float: left; width: 70px;  background: #eee;  text-align: right; font-size: 14px; font-weight: bold; color: #555; } 
#login #logincont .lgroup input { float: left; width: 201px; height: 34px;  padding: 0; margin: 0; padding-left: 5px; vertical-align: middle; }
#login #logincont .identy input { width: 100px !important; }
/*#login #logincont .identy span {  width: 100px; }
*/#login #logincont .subgroup {  width: 200px; margin-top: 10px;  }
#login #logincont .subgroup input { width: 200px; height: 45px; background: #FBB601; font-size: 16px; font-family: 微软雅黑; border: none; color: #fff; font-weight: bold; border-radius: 2px; }
#login #logincont .subgroup input:hover {background: #3481B9; }

#others { position: relative; width: 290px; height: 50px; line-height: 50px; border-radius: 2px; border: 1px solid #fff; color: #333; }
#others span { position: absolute; top: 0; left: 0; padding: 0 10px; text-align: center;  background: #ddd; font-family: 微软雅黑; }
#others input { position: absolute;top: 0; left: 70px; width: 215px; height: 45px; font-size: 14px; }
